<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/profile_pic.jpg">
        <p id="about-text">
            I am a backend Node.js developer.
            This site features HTTP request, fetching and working with callback functions.
            Handlebars are used to create dynamic webpages with reusable header and footer.
        </p>
    </div>
    
    {{>footer}}
</body>

</html>