<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <p>
            Use input field to enter location data.
            If error occurs try to better specify your desired location.
            You can use general names of geographic locations as well as addresses.
        </p>
    </div>
    
    {{>footer}}
</body>

</html>